@font-face {
    font-family: poppins;
    src: url("../fonts/poppins.ttf");
}


@font-face {
    font-family: poppins;
    src: url("../fonts/poppins_bold.ttf");
    font-weight:bold;
}


*{
    font-family: poppins;
}



@media (min-width: 667.98px) {
	.width-toggle {
		width: 35%;
	}
	.width-toggle-2 {
		width: 75%;
		margin: auto;
	}

	.width-toggle-3 {
		width: 50%;
	}
	.width-toggle-4{
		width:35%;
	}
}